{
  "presets": ["next/babel"],
  "plugins": [
    ["@emotion/babel-plugin",
      {
        "autoLabel": "dev-only", // 기본값 'dev-only'
        "labelFormat": "mj-[dirname]-[filename]-[local]"
      }
    ]
  ]
}